body {
  font-family: Arial, sans-serif;
  color: #333333;
  line-height: 1.166;
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:hover {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  display: none;
}

h1 a:link, h1 a:visited, h1 a:hover {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  font-size: 114%;
  color: #000099;
  padding: 10px 0px 10px 0px;
}

h3 {
  font-size: 95%;
  color: #334d55;
}

h4 {
  font-size: 90%;
  font-weight: bold;
  color: #0073AA;
}

h5 {
  font-size: 90%;
  color: #334d55;
  padding: 10px 0px 10px 5px;
}

h6 {
  font-size: 75%;
  color: #333333;
  font-style: normal;
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: none;
}

label {
  font: bold 100% Arial, sans-serif;
  color: #334d55;
}

#masthead {
  margin: 0;
  padding: 5px 0px 2px 0;
  background-color: #0073AA;
  border-bottom: 2px solid #fff;
  width: 100%;
}

#masthead img {
  padding-left: 24px;
}

#navBar {
  margin: 0 79% 5% 0;
  padding: 20px 0 50px 15px;
  background-color: #F7F7F7;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
}

#content {
  float: right;
  width: 75%;
  margin: 0;
  padding: 0 3% 0 0;
}

#siteName {
  margin: 0px;
  padding: 0px 0px 10px 10px;
}

#globalNav {
  color: #cccccc;
  padding: 0px 0px 0px 10px;
  background-color: #eeeeee;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
}

#globalNav img {
  display: block;
}

#globalNav a {
  color: #0073AA;
  font-size: 90%;
  padding: 0px 4px 0px 0px;
}

.footer {
  clear: both;
  text-align: center;
  padding: 0;
  border: 1px solid #cccccc;
  font-size: 85%;
  background-color: #EEEEEE;
  margin: 0 0 5px 0;
  font-weight: normal;
}

.footer p {
  text-align: center;
  font-size: 85%;
}

.footernav {
  font-size: 85%;
}

.footer2 {
  clear: both;
  padding: 0;
  /*border: 1px solid #cccccc;*/
  font-size: 85%;
  /* background-color: #EEEEEE;*/
  margin: 0 0 5px 0;
  font-weight: normal;
}

.footer2 p {
  text-align: center;
  font-size: 85%;
}

.feature {
  padding: 0px 0px 10px 10px;
  font-size: 80%;
}

.feature h3 {
  padding: 30px 0px 5px 0px;
  text-align: left;
}

.feature img {
  float: left;
  padding: 0px 10px 0px 0px;
  margin: 0 5px 5px 0;
}

.results {
  font-family: Arial, sans-serif;
  color: #333333;
  line-height: 1.166;
  margin: 0px;
  padding: 0px;
  font-size: 85%;
}

.resultstd {
  font-size: 85%;
}

.title {
  font-family: Arial, sans-serif;
  color: #334d55;
  font-weight: bolder;
  font-size: 85%;
}

#siteInfo {
  clear: both;
  border: 1px solid #cccccc;
  font-size: 75%;
  color: #cccccc;
  padding: 10px 10px 10px 10px;
  margin-top: -1px;
}

#siteInfo img {
  padding: 4px 4px 4px 0px;
  vertical-align: middle;
}

#searchbox {
  margin: 0 15px 15px 0;
  padding: 6px 2px 6px 5px;
  background-color: #F7F7F7;
  border: 1px solid #cccccc;
  font-size: 90%;
}

.searchresults {
  padding-left: 30px;
}

#navBar ul a:link, #navBar ul a:visited {
  display: block;
}

#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navBar li {
  border-bottom: 1px solid #EEE;
  padding-bottom: 4px;
}

html > body #navBar li {
  border-bottom: none;
}

.relatedLinks {
  margin: 0px;
  padding: 0px 0px 10px 10px;
  font-size: 90%;
  font-weight: normal;
}

.relatedLinks h3 {
  padding: 10px 0px 6px 0px;
}

.relatedLinks2 {
  font-size: 85%;
  color: #999999;
}

#printheader {
  display: none;
}

#callno {
  display: none;
}

ul#navlist {
  margin: 0 0 5px 0;
  padding: 0 5px 2px 15px;
  white-space: nowrap;
  background-color: #0073AA;
}

#navlist li {
  display: inline;
  list-style-type: none;
}

#navlist a {
  padding: 2px 10px;
  font-size: 80%;
}

#navlist a:link, #navlist a:visited {
  color: #fff;
  background-color: #0073AA;
  text-decoration: none;
}

#navlist a:hover {
  color: #fff;
  background-color: #000099;
  text-decoration: none;
}

#sitemap {
  margin-top: 100px;
  font-size: xx-small;
  text-align: right;
}

.small {
  font-size: 75%;
}

.recorddisplay {
  font-size: 90%;
  color: #334d55;
  padding: 10px 0px 10px 5px;
}

.searchbutton {
  background-color: #0073AA;
  color: #fff;
  font-size: 120%;
  border: 1px solid #999;
  padding: 0 5px;
}

.searchbutton:hover {
  background-color: #E6E6E6;
  color: #000;
}

.searchbutton a {
  text-decoration: none;
  color: #fff;
}

.searchbutton a:hover {
  text-decoration: none;
  color: #000;
}

.printbutton {
  font-weight: normal;
}

#seereferences {
  font-weight: normal;
}

#seerelated {
  font-weight: normal;
}

#biblios {
  font-weight: normal;
}

#idlurl {
  font-weight: normal;
}

#donor {
  font-weight: normal;
}

#mainrecordentrylink {
  font-weight: bold;
}

#mainentryurlalt {
  font-weight: bold;
}

#mainentryauthor {
  font-weight: bold;
}

#mainentryworktext {
  font-weight: bold;
}

#citation {
  font-weight: normal;
}

#text {
  font-weight: normal;
  padding: 0;
}

/* =Media Queries - Smartphones (Portrait & Landscape)
-------------------------------------------------------------- */
@media only screen and (max-width: 580px) {
  #masthead img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  #content {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .feature img {
    float: none;
    padding: 0;
    margin: 0;
  }

  ul#navlist {
    margin: 0;
    padding: 0;
  }

  #navBar {
    padding: 0;
    margin: 0;
  }

  #navlist li {
    display: block;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-size: 114%;
  }

  #navlist a:link, #navlist a:visited {
    color: #fff;
  }

  #navlist a:hover {
    /*color: #036; background-color: #fff; */
    color: #fff;
    background-color: #0073AA;
    text-decoration: underline;
  }

  .footer {
    padding: 0;
    margin: 0;
  }

  .footer2 {
    padding: 0;
    margin: 0;
  }

  #searchbox {
    margin: 20px 0 20px 0;
  }

  .searchresults {
    padding-left: 10px;
  }

  .results {
    padding-left: 10px;
  }

  .title {
    padding-left: 10px;
  }

  .relatedLinks {
    background-color: #0073AA;
  }

  .relatedLinks a {
    color: #fff;
  }

  .relatedLinks h3 {
    color: #fff;
  }

  .relatedLinks2 {
    font-size: 85%;
    color: #999999;
  }
}
/*# sourceMappingURL=css_sourcemaps/styles-shiny.css.map */
