@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,600;1,300;1,600&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-wrap: anywhere;
}
body .content-wrapper #navigation-primary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0 0 0 0;
  padding: 0;
}
body .content-wrapper #content-main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 800px) {
  body .content-wrapper #navigation-primary {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  body .content-wrapper #content-main {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
  }
}
@media (min-width: 1200px) {
  body .content-wrapper {
    padding: 0;
    max-width: 1200px;
  }
}

a, a:visited {
  color: #00558c;
}
a:hover, a:visited:hover {
  color: #002740;
}

html {
  font-size: 62.5%;
}

body, p, ul {
  font-family: "Lora", serif;
  font-size: 18px;
  font-size: 1.8rem;
}
body .small-type, body.small-type, p .small-type, p.small-type, ul .small-type, ul.small-type {
  font-size: 12px;
  font-size: 1.2rem;
}

#content-main h1, #content-main h2, #content-main h3, #content-main h4, #content-main h5 {
  font-family: "Lora", serif;
  font-weight: bold;
}
#content-main h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 28px;
  font-size: 2.8rem;
}
#content-main h2 {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 26px;
  font-size: 2.6rem;
}
#content-main h3 {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 22px;
  font-size: 2.2rem;
}
#content-main h3 + p {
  margin-top: 0.25em;
}
#content-main h4 {
  margin: 1em 0 0 0;
  padding-bottom: 0.25em;
  font-style: italic;
  font-size: 20px;
  font-size: 2rem;
}
#content-main h4 + p {
  margin-top: 0.25em;
}
#content-main h5 {
  margin: 1em 0 0 0;
  padding-bottom: 0.25em;
  font-style: italic;
  font-size: 18px;
  font-size: 1.8rem;
}
#content-main h5 + p {
  margin-top: 0.25em;
}
@media (min-width: 1200px) {
  #content-main h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }
  #content-main h3 {
    font-size: 26px;
    font-size: 2.6rem;
  }
  #content-main h3 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

p > img {
  margin: 0 auto;
}

#content-main table, #content-main caption, #content-main tbody, #content-main tfoot, #content-main thead, #content-main tr, #content-main th, #content-main td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 14px;
  font-size: 1.4rem;
}
#content-main table {
  border-collapse: collapse;
  border-spacing: 0;
}
#content-main table {
  border: 1px #111 solid;
  border-collapse: collapse;
  font-family: "Lora", serif;
}
#content-main table p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-size: 1.4rem;
}
#content-main table p span {
  font-size: 14px;
  font-size: 1.4rem;
}
#content-main table td, #content-main table th {
  border: 1px #333 solid;
  padding: 8px;
  font-family: "Lora", serif;
}
#content-main table th {
  background-color: #444;
  color: white;
}
#content-main tr.blue {
  color: #00558c;
}

a.simple-button {
  display: inline-block;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  font-family: inherit;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  font-weight: normal;
  background-color: #00558c;
  color: white !important;
  border: none;
  line-height: 1.5em;
}
a.simple-button:link {
  color: white !important;
}
a.simple-button:hover {
  text-decoration: none;
  background-color: #0074bf;
  color: white;
}
a.simple-button:active {
  position: relative;
  top: 1px;
  background-color: #00558c;
  color: white;
}
a.simple-button:focus {
  outline: 2px solid #00558c;
}

form input, form select {
  padding: 0.5rem 1rem;
}
form input[type=submit] {
  margin: 0;
  padding: 0.5rem 2rem;
  background-color: #00558c;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Lora", serif;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
form input[type=submit]:hover {
  background-color: #002740;
  color: white;
}

dl dt {
  margin-top: 2rem;
  font-weight: bold;
}
dl dd {
  margin-left: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.skip-to-page-content,
.skip-to-primary-search,
.jump-to-page-top {
  position: absolute;
  left: -10000px;
  top: auto;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.skip-to-page-content:focus,
.skip-to-primary-search:focus,
.jump-to-page-top:focus {
  position: inherit;
  height: auto;
  overflow: inherit;
  width: auto;
  left: auto;
  top: auto;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.scrolltop-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40rem;
  right: 2rem;
  bottom: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.scrolltop-wrap #scrolltop-bg {
  fill: #ffcd00;
}
.scrolltop-wrap #scrolltop-arrow {
  fill: black;
}
.scrolltop-wrap a:hover #scrolltop-bg {
  fill: #cca400;
}
.scrolltop-wrap a:hover #scrolltop-arrow {
  fill: black;
}
@supports (-moz-appearance: meterbar) {
  .scrolltop-wrap {
    clip: rect(0, 4rem, auto, 0);
  }
}
.scrolltop-wrap a {
  position: fixed;
  position: sticky;
  top: -6rem;
  width: 4rem;
  height: 4rem;
  margin-bottom: -6rem;
  -webkit-transform: translateY(100vh);
      -ms-transform: translateY(100vh);
          transform: translateY(100vh);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: inline-block;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: all;
  outline: none;
  overflow: hidden;
}
.scrolltop-wrap a svg {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.scrolltop-wrap a svg path {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.scrolltop-wrap a #scrolltop-arrow {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
@media print {
  .scrolltop-wrap {
    display: none !important;
  }
}

.iconify {
  padding: 1rem;
}
.iconify:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  width: 1.33em;
  height: 1.33em;
  content: "";
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
}
.iconify--home:before {
  -webkit-mask-image: url("/images/icons/house-chimney-window.svg");
          mask-image: url("/images/icons/house-chimney-window.svg");
}
.iconify--login:before {
  -webkit-mask-image: url("/images/icons/right-to-bracket.svg");
          mask-image: url("/images/icons/right-to-bracket.svg");
}
.iconify--new:before {
  -webkit-mask-image: url("/images/icons/square-plus.svg");
          mask-image: url("/images/icons/square-plus.svg");
}
.iconify--edit:before {
  -webkit-mask-image: url("/images/icons/square-pen.svg");
          mask-image: url("/images/icons/square-pen.svg");
}
.iconify--logout:before {
  -webkit-mask-image: url("/images/icons/right-from-bracket.svg");
          mask-image: url("/images/icons/right-from-bracket.svg");
}
.iconify--image:before {
  -webkit-mask-image: url("/images/icons/image.svg");
          mask-image: url("/images/icons/image.svg");
}
.iconify--list:before {
  -webkit-mask-image: url("/images/icons/rectangle-list.svg");
          mask-image: url("/images/icons/rectangle-list.svg");
}
.iconify--print:before {
  -webkit-mask-image: url("/images/icons/print.svg");
          mask-image: url("/images/icons/print.svg");
}
.iconify--search:before {
  -webkit-mask-image: url("/images/icons/magnifying-glass.svg");
          mask-image: url("/images/icons/magnifying-glass.svg");
}
.iconify--flag:before {
  -webkit-mask-image: url("/images/icons/flag.svg");
          mask-image: url("/images/icons/flag.svg");
}

.header-uids {
  margin: 0 0 2rem 0;
  padding: 0;
  min-height: 50px;
  background-color: #ffcd00;
}
.header-uids .uilibraries-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: content;
      flex-basis: content;
}
.header-uids .uilibraries-branding a.block-iowa {
  margin-right: 10px;
  padding: 17px 15px 13px 15px;
  background-color: #000000;
}
.header-uids .uilibraries-branding a.block-iowa svg {
  height: 26px;
  fill: #ffcd00;
}
.header-uids .uilibraries-branding a.block-iowa svg path {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.header-uids .uilibraries-branding a.block-iowa svg .block-i {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.header-uids .uilibraries-branding a.block-iowa svg .block-o {
  -webkit-transition-delay: 0.03s;
       -o-transition-delay: 0.03s;
          transition-delay: 0.03s;
}
.header-uids .uilibraries-branding a.block-iowa svg .block-w {
  -webkit-transition-delay: 0.06s;
       -o-transition-delay: 0.06s;
          transition-delay: 0.06s;
}
.header-uids .uilibraries-branding a.block-iowa svg .block-a {
  -webkit-transition-delay: 0.09s;
       -o-transition-delay: 0.09s;
          transition-delay: 0.09s;
}
.header-uids .uilibraries-branding a.block-iowa:hover svg path {
  opacity: 0.8;
}
.header-uids .uilibraries-branding h1.site-name {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.8rem;
}
.header-uids .uilibraries-branding h1.site-name a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.2;
  -o-transition: 0.2;
  transition: 0.2;
}
.header-uids .uilibraries-branding h1.site-name a:hover {
  opacity: 0.8;
}
.header-uids__inner {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 1200px) {
  .header-uids__inner {
    height: 50px;
  }
}

.header-site {
  margin: 1rem 0;
  background-image: url("https://heirs.lib.uiowa.edu/images/heirs-banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header-site-inner {
  position: relative;
  margin: 0 auto;
  padding: 6rem 0 7rem 0;
  max-width: 1200px;
}
.header-site-inner a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header-site-inner a .title-site {
  display: inline-block;
  padding: 2rem 2rem 3rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.header-site-inner a .title-site h1 {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  font-size: 60px;
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.header-site-inner a .title-site h2 {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.header-site-inner a:hover h1, .header-site-inner a:hover h2 {
  opacity: 0.8;
}
@media (min-width: 1200px) {
  .header-site-inner .title-site {
    margin-left: -2rem;
  }
}

#navigation-primary .nav-toggle {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 1rem;
  padding: 8px;
  width: 100%;
  background-color: black;
  color: white;
  border: 0px solid transparent;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
#navigation-primary .nav-toggle span {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
#navigation-primary .nav-toggle span svg {
  fill: white;
  height: 3rem;
  width: 3rem;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
#navigation-primary .nav-toggle:hover {
  cursor: pointer;
  background-color: #ffcd00;
  color: black;
}
#navigation-primary .nav-toggle:hover svg {
  fill: black;
}
@media (min-width: 800px) {
  #navigation-primary .nav-toggle {
    display: none;
  }
  #navigation-primary .navigation-site {
    display: block;
  }
}
#navigation-primary.COLLAPSED .nav-toggle svg.close-nav {
  display: none;
}
#navigation-primary.COLLAPSED .nav-toggle svg.hamburger-nav {
  display: inline-block;
}
#navigation-primary.COLLAPSED .navigation-site {
  display: none;
}
#navigation-primary:not(.COLLAPSED) .nav-toggle svg.close-nav {
  display: inline-block;
}
#navigation-primary:not(.COLLAPSED) .nav-toggle svg.hamburger-nav {
  display: none;
}
#navigation-primary:not(.COLLAPSED) .navigation-site {
  display: block;
}
#navigation-primary ul {
  margin: 2px 0 1em 0;
  padding: 0;
  list-style-type: none;
}
#navigation-primary ul > li {
  margin: 0.25em 0;
  padding: 0;
}
#navigation-primary ul > li.section > strong {
  display: block;
  margin: 0;
  padding: 1rem 0.25em 0.25em 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #4a4d50;
}
#navigation-primary ul > li.section li {
  margin: 2px 0;
}
#navigation-primary ul > li.section--edit {
  margin-top: 2rem;
}
#navigation-primary ul > li a {
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  background-color: #00558c;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  font-family: "Lora", serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
}
#navigation-primary ul > li a:hover {
  background-color: #002740;
  color: white;
  text-decoration: none;
}
#navigation-primary ul > li ul {
  margin: 0;
}
#navigation-primary ul > li ul li a {
  padding: 0.5em 0.5em 0.5em calc(1em - 2px);
}

.search-site {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 1rem;
  background-color: #F2F2F2;
}
.search-site-inner input {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0.5rem;
}
.search-site-inner input.search-text {
  width: 70%;
}

.advanced-search-site {
  margin: 3rem 0;
}
.advanced-search-site label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #F2F2F2;
}
.advanced-search-site label > strong {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.advanced-search-site label input, .advanced-search-site label select {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.advanced-search-site label em {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 14px;
  font-size: 1.4rem;
}
.advanced-search-site input[type=submit] {
  margin: 1rem auto;
  padding: 1rem 4rem;
  min-width: 200px;
  width: 50%;
}
@media (min-width: 600px) {
  .advanced-search-site label > strong {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .advanced-search-site label input, .advanced-search-site label select {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .advanced-search-site label em {
    text-align: right;
  }
}

.search-area {
  margin-top: 3rem;
}
.search-area ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.search-area--author-letter > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-area--author-letter > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 content;
          flex: 0 1 content;
  padding: 0;
  text-align: center;
}
.search-area--author-letter > ul > li a {
  margin: 0;
  padding: 4px 8px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  background-color: #F2F2F2;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.search-area--author-letter > ul > li a:hover {
  background-color: #cccccc;
}
.search-area--time-period > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.search-area--time-period > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 content;
          flex: 0 1 content;
  padding: 1rem;
  background-color: #F2F2F2;
}
@media (min-width: 1200px) {
  .search-area--time-period > ul > li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 content;
            flex: 1 1 content;
  }
}

.footer-site {
  margin-top: 6rem;
}
.footer-site-inner {
  margin: 0 auto;
  max-width: 1200px;
  border-top: 1px solid #63666a;
}
.footer-site-inner p, .footer-site-inner a {
  font-size: 14px;
  font-size: 1.4rem;
}

.footer-uids {
  margin: 0;
  padding: 2rem 0 8rem 0;
  background-color: #000000;
  color: white;
}
.footer-uids .uilibraries-branding a.block-iowa {
  display: block;
  margin: 0;
  padding: 0;
  width: 160px;
}
.footer-uids .uilibraries-branding a.block-iowa svg {
  fill: #ffcd00;
}
.footer-uids .uilibraries-branding a.block-iowa svg path {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.footer-uids .uilibraries-branding a.block-iowa svg .block-i {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.footer-uids .uilibraries-branding a.block-iowa svg .block-o {
  -webkit-transition-delay: 0.03s;
       -o-transition-delay: 0.03s;
          transition-delay: 0.03s;
}
.footer-uids .uilibraries-branding a.block-iowa svg .block-w {
  -webkit-transition-delay: 0.06s;
       -o-transition-delay: 0.06s;
          transition-delay: 0.06s;
}
.footer-uids .uilibraries-branding a.block-iowa svg .block-a {
  -webkit-transition-delay: 0.09s;
       -o-transition-delay: 0.09s;
          transition-delay: 0.09s;
}
.footer-uids .uilibraries-branding a.block-iowa:hover svg path {
  opacity: 0.8;
}
.footer-uids .uilibraries-branding a.libraries-link {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.footer-uids .uilibraries-branding a.libraries-link h2 {
  font-size: 24px;
  font-size: 2.4rem;
}
.footer-uids .uilibraries-branding a.libraries-link:hover {
  text-decoration: underline;
}
.footer-uids nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-uids nav ul li {
  font-family: "Roboto", sans-serif;
}
.footer-uids nav ul li > svg {
  margin-right: 1rem;
  width: 18px;
  height: 18px;
  fill: white;
}
.footer-uids nav ul li a {
  text-decoration: none;
  color: white;
}
.footer-uids nav ul li a > svg {
  fill: white;
  height: 30px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.footer-uids nav ul li a:hover {
  text-decoration: underline;
  color: white;
}
.footer-uids nav ul li a:hover > svg {
  fill: #ffcd00;
}
.footer-uids nav.links-uilibraries--contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-uids nav.links-uilibraries--contact li a {
  display: inline-block;
  margin: 0;
  padding: 0.25rem 0;
  color: #ffcd00;
}
.footer-uids nav.links-uilibraries--contact li a:hover {
  color: #ffcd00;
}
.footer-uids nav.links-uilibraries--social-media {
  margin-bottom: 2rem;
}
.footer-uids nav.links-uilibraries--social-media li {
  display: inline-block;
  margin-right: 2px;
}
.footer-uids nav.links-uilibraries--info li a {
  display: inline-block;
  margin: 0;
  padding: 0.25rem 0;
}
.footer-uids nav.links-uilibraries--info li.other-links {
  margin-top: 2rem;
}
.footer-uids nav.links-uilibraries--misc-icons {
  margin-top: 2rem;
}
.footer-uids nav.links-uilibraries--misc-icons li {
  display: inline-block;
  margin-right: 4px;
}
.footer-uids nav.links-uids--global {
  margin-top: 3rem;
}
.footer-uids nav.links-uids--global ul li {
  font-size: 14px;
  font-size: 1.4rem;
}
.footer-uids nav.links-uids--global ul li a {
  color: #ffcd00;
}
.footer-uids__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
}
.footer-uids__inner .footer-grouping {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media (min-width: 800px) {
  .footer-uids__inner .footer-grouping {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .footer-uids__inner .footer-grouping--first {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
  }
  .footer-uids__inner .footer-grouping--second {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .footer-uids__inner .footer-grouping--third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .footer-uids__inner .footer-grouping--third .links-uids--global ul li {
    display: inline-block;
    border-right: 1px solid #666;
  }
  .footer-uids__inner .footer-grouping--third .links-uids--global ul li.copyright {
    display: block;
    margin-bottom: 0.5rem;
    border-right: none;
  }
  .footer-uids__inner .footer-grouping--third .links-uids--global ul li:nth-of-type(2) a {
    padding-left: 0;
  }
  .footer-uids__inner .footer-grouping--third .links-uids--global ul li:last-of-type {
    border-right: none;
  }
  .footer-uids__inner .footer-grouping--third .links-uids--global ul li a {
    padding: 0.5rem 1.25rem 0.5rem 1rem;
  }
}
@media (min-width: 1200px) {
  .footer-uids__inner {
    padding: 0;
  }
}

.additional-record-actions {
  margin-top: 6rem;
}
/*# sourceMappingURL=css_sourcemaps/styles-shiny.css.map */
